.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-box {
  background: white;
  padding: 40px;
  width: 380px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 25px;
  color: var(--primary-green);
}

.auth-box label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.auth-box input,
.auth-box select {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-footer {
  text-align: center;
  margin-top: 15px;
}
